<ion-view style="" title="Log">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <button style="" class="button button-stable button-block  icon ion-refresh" ng-click="addEntries()"></button>
            <button style="" class="button button-stable button-block  icon ion-trash-a"></button>
            <button style="" class="button button-stable button-block  icon ion-email"></button>
        </div>
        <ion-list style="">
            <ion-item class="row responsive-sm" ng-repeat="entry in entries track by entry.ID">
                <div class="col timestamp">{{entry.fmt_time}}</div>
                <div class="col detail item-text-wrap"> {{entry.ID}} | {{entry.level}} | {{entry.message}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
