<ion-view style="" title="Sensed data">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" name="sel-sensor" class="item item-select">
                <span class="input-label">Sensor</span>
                <select ng-model="key_type">
                    <option>Location</option>
                    <option>Motion</option>
                    <option>Messages</option>
                </select>
            </label>
        </form>
        <ion-list style="">
            <ion-item style="">Item 1</ion-item>
            <ion-item style="">Item 2</ion-item>
            <ion-item style="">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
