<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- momentjs for all the time stuff -->
    <script src="lib/moment.min.js"></script>

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- leaflet, for some sweet, open source maps -->
  <link rel="stylesheet" href="lib/leaflet/leaflet.css"></link>
  <script src="lib/leaflet/leaflet.js"></script>

  <!-- leaflet plugins -->
  <script src="lib/leaflet-plugins/angular-leaflet-directive.js"></script>

  <link rel="stylesheet" href="lib/leaflet-plugins/leaflet.awesome-markers.css"></link>
  <script src="lib/leaflet-plugins/leaflet.awesome-markers.js"></script>

  <link rel="stylesheet" href="lib/leaflet-plugins/leaflet.magnifyingglass.css"></link>
  <script src="lib/leaflet-plugins/leaflet.magnifyingglass.js"></script>

  <script src="lib/leaflet-plugins/leaflet.textpath.js"></script>

  <!-- other utils -->
  <script src="lib/angular-simple-logger/index.js"></script>
    
  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <!--
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>
  -->
  <!-- your app's js -->
  <script type="text/javascript" src="listview-js/dbHelper.js"></script>
  <script type="text/javascript" src="listview-js/usercacheHelper.js"></script>

  <script src="listview-js/app.js"></script>
  <script src="listview-js/controllers.js"></script>
  <script src="listview-js/directives.js"></script>
  <script type="text/javascript">
    console.log("About to bootstrap angular");
    // BEGIN DEVICE VERSION
    document.addEventListener('deviceready', function onDeviceReady() {
    // BEGIN BROWSER VERSION
    // angular.element(document).ready(function onDeviceReady() {
      console.log("bootstrapping angular");
      angular.bootstrap(document.getElementsByTagName('body')[0], ['starter']);
      /*
       * As part of handling the device ready, register to reload on resume.
       * TODO: Can this be changed to be more push-oriented so that we don't have to reload if
       * nothing has changed?
       */
      document.addEventListener( "resume", function onDeviceResume() {
          console.log("activity is resumed, reloading page");
          window.location.reload();
      }, false);
    }, false);
  </script>
</head>

<body ng-controller="TripsCtrl" animation="slide-left-right-ios7">
  <ion-view title="Trip Diary">
      <ion-header-bar align-title="center" class="bar-positive bg-color">
         <div class="buttons" style="text-align:left">
            <button class="button button-icon icon ion-ios-arrow-thin-left" ng-click="prevDay()">
            </button>
         </div>
         <div width=100% style="text-align:center">
            {{data.currDay.calendar(null, {
                sameDay: '[Today]',
                nextDay: '[Tomorrow]',
                nextWeek: 'dddd',
                lastDay: '[Yesterday]',
                lastWeek: '[Last] dddd'
            })}}
         </div>
         <div class="buttons" style="text-align:right">
            <button class="button button-icon icon ion-ios-arrow-thin-right" ng-click="nextDay()">
            </button>
        </div>
       </ion-header-bar> 
    <ion-content>
        <!--
        <div class="row main bg-color">
          <div class="col date">
          </div>
        </div>
        -->
        <div class="col bg-color">
            <div class="row">
                <div class="col">In Places</div>
                <div class="col">Moving</div>
                <div class="col">Stopped</div>
            </div>
            <div class="row">
                <div class="col">{{getFormattedDuration(data.currDaySummary.inPlaceTime)}} 
                    ({{data.currDaySummary.inPlacePct.toFixed(2)}}%)</div>
                <div class="col">{{getFormattedDuration(data.currDaySummary.movingTime)}} 
                    ({{data.currDaySummary.movingPct.toFixed(2)}}%)</div>
                <div class="col">{{getFormattedDuration(data.currDaySummary.stoppedTime)}} 
                    ({{data.currDaySummary.stoppedPct.toFixed(2)}}%)</div>
            </div>
            <div class="row">{{data.currDayTrips.length}} trips, covering {{getFormattedDistance(data.currDaySummary.distance)}} km </div>
        </div>
        <div class="bg-color"
            item-width="100%" item-height="300">
            <img src="img/582752main_sunrise_from_iss-full_small.png">
        </div>
        <ion-list>
            <ion-item collection-repeat="trip in data.currDayTrips"
                item-width=100% item-height="100 + trip.sections.length * 40 + 300"
                class="no-margin bg-color">
                <!--
              <div class="buttons summary-color">
                <button class="button button-icon icon ion-ios-minus-outline"
                    ng-click="deleteTrip(trip)"></button>
                {{getTripDetails(trip)}}
                <button class="button button-icon icon ion-ios-checkmark-outline"
                    ng-click="confirmTrip(trip)">
                <button class="button button-icon icon ion-ios-more-outline"
                    ng-click="showCorrections(trip)()">
                </button>
              </div>
                -->
               <div class="summary-color col">
                <div class="row"> to {{trip.end_place.properties.displayName}} </div>
                <div class="row item-text-wrap"> {{getFormattedTime(trip.data.properties.start_ts)}} to 
                    {{getFormattedTime(trip.data.properties.end_ts)}} 
                    ({{getFormattedTimeRange(trip.data.properties.start_ts,
                                            trip.data.properties.end_ts)}},
                    {{getFormattedDistance(trip.data.properties.distance)}} km)
                </div>
                <div class="row"> {{trip.sections.length}} segment(s), stopped for {{getFormattedDuration(trip.tripSummary.stoppedTime)}} ({{trip.tripSummary.stoppedPct.toFixed(2)}}%)} </div>
                </div>
               </div>
               <div class="col button-small">
                    <div class="row">
                        <div class="col">start </div>
                        <div class="col">end </div>
                        <i class="col icon ion-ios-time-outline"></i>
                        <div class="col">km </div>
                        <div class="col">kmph </div>
                        <div class="col">mode </div>
                    </div>
                    <div class="row" ng-repeat="section in trip.sections">
                        <div class="col">{{getFormattedTime(section.properties.start_ts)}}</div>
                        <div class="col">{{getFormattedTime(section.properties.end_ts)}}</div>
                        <div class="col">{{getFormattedTimeRange(section.properties.end_ts, section.properties.start_ts)}}</div>
                        <div class="col">{{getFormattedDistance(section.properties.distance)}}</div>
                        <div class="col">{{getKmph(section)}}</div>
                        <div class="col">{{getHumanReadable(section.properties.sensed_mode)}}</div>
                    </div>
                </div>
               <leaflet geojson="trip" id="$index" defaults="defaults"></leaflet>
                <div class="col place-color">
                    <div class="row">at {{trip.end_place.properties.displayName}}</div>
                    <div class="row">
                        {{getFormattedTime(trip.end_place.properties.enter_ts)}} 
                        to {{getFormattedTime(trip.end_place.properties.exit_ts)}}
                        ({{getFormattedTimeRange(trip.end_place.properties.enter_ts,
                                                trip.end_place.properties.exit_ts)}})
                    </div>
                </div>
                <!--
                <div class="col col-33 col-offset-33">
                  <ul class="img-list">
                    <li>

                      <div class="location-holder" ng-click="setupMap(x)">
                        <p>{{getTime(x.startTime.date)}} </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col display-name">
                  {{x.displayName}}
                  <br>
                </div>
              </div>
              <div class="row bg-color" ng-if="notSingleOrLast($index, trip.trip_val)">
                <div class="col col-33 col-offset-33">
                  <ul class="img-list">
                    <li>
                      <div class="verticalLine"></div>
                    </li>
                  </ul>


                </div>
                <div class="col display-mode">
                  <i class="icon mode {{getDisplayMode(x)}} {{getConfidenceColor(x)}}" ng-if="x.confidence>=.9"></i>

                  <label class="item-input item-select" ng-if="x.confidence <.9">
                    <div class="input-label bg-color">
                      <i class="icon mode {{getDisplayMode(x)}} {{getConfidenceColor(x)}}"></i>
                    </div>
                    <select class="small bg-color display-mode" ng-model="modeChange" ng-options="mode.mode as mode.show for mode in modes" ng-init="modeChange=x.autoMode" ng-change="modeUpdate(x, modeChange)">

                    </select>
                  </label>
                </div>
              </div>
              -->
            </ion-item>
          </ion-list>
        <div class="bg-color"
            item-width="100%" item-height="300">
            <img src="img/nileredsea_126b5740_small.png" width=300 height=200>
        </div>
        </ion-content>
    <ion-tabs class="tabs-default tabs-icon-top">

      <ion-tab title="Trips" icon="ion-merge">
      </ion-tab>
      <!--
      <ion-tab title="Recommendation" icon="ion-location">
      </ion-tab>
      <ion-tab title="About" icon="ion-compose">
      </ion-tab>
      -->
    </ion-tabs>
  </ion-view>
</body>

</html>
